@import url('https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&display=swap');

body {
    background: black;
    font-family: 'Konkhmer Sleokchher', cursive;
}

.center {
    text-align: center;
}

.center p {
    animation: opacity 6s cubic-bezier(0.95, 0.00, 0, 1);
    padding-top: 5vh;
    font-size: 3vh;
    color: white;
    opacity: 0;
}

.center img {
    padding-top: 25vh;
    opacity: 0;
}

img {
    animation: scale 5s cubic-bezier(0.95, 0.00, 0, 1);
    transform: scale(3);
    width: 3%
}

@keyframes scale {
    0% {
        opacity: 1;
        width: 5%;
        padding-top: 20vh;
    }

    60% {
        width: 3%;
    }

    80% {
        opacity: 1;
        padding-top: 20vh;
    }

    100% {
        opacity: 0;
        padding-top: 25vh;
    }
}

@keyframes opacity {
    0% {
        opacity: 0%;
    }

    66.67% {
        opacity: 0;
    }

    83.33% {
        opacity: 100%;
    }

}